-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: epb_smart
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (4,'Directeur'),(3,'Gestionnaire_escales'),(1,'Officier_port'),(2,'Officier_radio');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
INSERT INTO `auth_user_groups` VALUES (7,2,1),(26,3,2),(25,4,3),(23,5,4);
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_affectation`
--

DROP TABLE IF EXISTS `port_affectation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_affectation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `heure_debut` double NOT NULL,
  `attente` double NOT NULL,
  `heure_fin` double NOT NULL,
  `navire_id` bigint NOT NULL,
  `quai_id` int NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `equipements` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `priorites_texte` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `score_contribution` double NOT NULL,
  `traitement` double NOT NULL,
  `utilise_grues_bord` tinyint(1) NOT NULL,
  `equipements_utilises` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `equipements_utilises_ids` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_debut_reel` datetime(6) DEFAULT NULL,
  `date_fin_reel` datetime(6) DEFAULT NULL,
  `buffer_debut` double NOT NULL,
  `buffer_fin` double NOT NULL,
  `heure_debut_reel` double DEFAULT NULL,
  `heure_fin_reel` double DEFAULT NULL,
  `etat_initial` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `poste_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `affectations_navire_id_3772f0f9_fk_navires_id` (`navire_id`),
  KEY `port_affectation_quai_id_de0a09fe_fk` (`quai_id`),
  KEY `port_affectation_poste_id_9e7fb017_fk_port_poste_id` (`poste_id`),
  CONSTRAINT `affectations_navire_id_3772f0f9_fk_navires_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`),
  CONSTRAINT `port_affectation_poste_id_9e7fb017_fk_port_poste_id` FOREIGN KEY (`poste_id`) REFERENCES `port_poste` (`id`),
  CONSTRAINT `port_affectation_quai_id_de0a09fe_fk` FOREIGN KEY (`quai_id`) REFERENCES `port_quai` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1773 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_affectation`
--

LOCK TABLES `port_affectation` WRITE;
/*!40000 ALTER TABLE `port_affectation` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_affectation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_affectationequipe`
--

DROP TABLE IF EXISTS `port_affectationequipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_affectationequipe` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `shift` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_debut` datetime(6) NOT NULL,
  `date_fin` datetime(6) NOT NULL,
  `duree_heures` double NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `navire_id` bigint NOT NULL,
  `equipe_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `port_affectationequipe_equipe_id_navire_id_shif_815251aa_uniq` (`equipe_id`,`navire_id`,`shift`,`date_debut`),
  KEY `port_affectationequipe_navire_id_14fcd78d_fk_port_navire_id` (`navire_id`),
  CONSTRAINT `port_affectationequipe_equipe_id_e36aeaa1_fk_port_equipe_id` FOREIGN KEY (`equipe_id`) REFERENCES `port_equipe` (`id`),
  CONSTRAINT `port_affectationequipe_navire_id_14fcd78d_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_affectationequipe`
--

LOCK TABLES `port_affectationequipe` WRITE;
/*!40000 ALTER TABLE `port_affectationequipe` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_affectationequipe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_affectationquai`
--

DROP TABLE IF EXISTS `port_affectationquai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_affectationquai` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type_navire` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `volume` double NOT NULL,
  `longueur` double NOT NULL,
  `tirant` double NOT NULL,
  `agent` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entite` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shift_debut` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_affectation` datetime(6) NOT NULL,
  `navire_id` bigint NOT NULL,
  `poste_id` bigint DEFAULT NULL,
  `quai_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `port_affectationquai_navire_id_aedfb526_fk_port_navire_id` (`navire_id`),
  KEY `port_affectationquai_poste_id_105bc09f_fk_port_poste_id` (`poste_id`),
  KEY `port_affectationquai_quai_id_fabcfb51_fk_port_quai_id` (`quai_id`),
  CONSTRAINT `port_affectationquai_navire_id_aedfb526_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`),
  CONSTRAINT `port_affectationquai_poste_id_105bc09f_fk_port_poste_id` FOREIGN KEY (`poste_id`) REFERENCES `port_poste` (`id`),
  CONSTRAINT `port_affectationquai_quai_id_fabcfb51_fk_port_quai_id` FOREIGN KEY (`quai_id`) REFERENCES `port_quai` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_affectationquai`
--

LOCK TABLES `port_affectationquai` WRITE;
/*!40000 ALTER TABLE `port_affectationquai` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_affectationquai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_alerte`
--

DROP TABLE IF EXISTS `port_alerte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_alerte` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `niveau` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `lien` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `est_lue` tinyint(1) NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `date_resolution` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=189 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_alerte`
--

LOCK TABLES `port_alerte` WRITE;
/*!40000 ALTER TABLE `port_alerte` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_alerte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_creneaureserve`
--

DROP TABLE IF EXISTS `port_creneaureserve`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_creneaureserve` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `operateur` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_debut` datetime(6) NOT NULL,
  `date_fin` datetime(6) NOT NULL,
  `duree_jours` int NOT NULL,
  `actif` tinyint(1) NOT NULL,
  `quai_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `port_creneaureserve_quai_id_87ade4c5_fk_port_quai_id` (`quai_id`),
  CONSTRAINT `port_creneaureserve_quai_id_87ade4c5_fk_port_quai_id` FOREIGN KEY (`quai_id`) REFERENCES `port_quai` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_creneaureserve`
--

LOCK TABLES `port_creneaureserve` WRITE;
/*!40000 ALTER TABLE `port_creneaureserve` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_creneaureserve` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_effectifshift`
--

DROP TABLE IF EXISTS `port_effectifshift`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_effectifshift` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `metier` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `effectifs_affectes` int unsigned NOT NULL,
  `effectifs_presents` int unsigned NOT NULL,
  `shift_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `port_effectifshift_shift_id_metier_70bea6bb_uniq` (`shift_id`,`metier`),
  CONSTRAINT `port_effectifshift_shift_id_7b75e25b_fk_port_shift_id` FOREIGN KEY (`shift_id`) REFERENCES `port_shift` (`id`),
  CONSTRAINT `port_effectifshift_effectifs_affectes_2fe22dcd_check` CHECK ((`effectifs_affectes` >= 0)),
  CONSTRAINT `port_effectifshift_effectifs_presents_c1298f96_check` CHECK ((`effectifs_presents` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_effectifshift`
--

LOCK TABLES `port_effectifshift` WRITE;
/*!40000 ALTER TABLE `port_effectifshift` DISABLE KEYS */;
INSERT INTO `port_effectifshift` VALUES (1,'Grutiers',12,12,1),(2,'Chauffeurs semi-remorque',25,24,1),(3,'Caristes',13,12,1),(4,'Grutiers',12,11,2),(5,'Chauffeurs semi-remorque',24,22,2),(6,'Caristes',16,15,2),(7,'Grutiers',12,12,3),(8,'Chauffeurs semi-remorque',21,18,3),(9,'Caristes',16,14,3);
/*!40000 ALTER TABLE `port_effectifshift` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_equipe`
--

DROP TABLE IF EXISTS `port_equipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_equipe` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `shifts_couverts` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `repos_min_heures` double NOT NULL,
  `max_heures_par_jour` double NOT NULL,
  `debut_journee` double NOT NULL,
  `disponible` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_equipe`
--

LOCK TABLES `port_equipe` WRITE;
/*!40000 ALTER TABLE `port_equipe` DISABLE KEYS */;
INSERT INTO `port_equipe` VALUES (15,'Equipe Jour','07h-13h,13h-19h',8,24,7,1),(16,'Equipe Nuit','19h-01h,01h-07h',8,24,7,1),(17,'Equipe Jour 1','07h-13h,13h-19h',8,24,7,1),(18,'Equipe Jour 2','07h-13h,13h-19h',8,24,7,1),(19,'Equipe Jour 3','07h-13h,13h-19h',8,24,7,1),(20,'Equipe Nuit 1','19h-01h,01h-07h',8,24,7,1),(21,'Equipe Nuit 2','19h-01h,01h-07h',8,24,7,1),(22,'Equipe Nuit 3','19h-01h,01h-07h',8,24,7,1);
/*!40000 ALTER TABLE `port_equipe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_equipement`
--

DROP TABLE IF EXISTS `port_equipement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_equipement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `capacite` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `temps_reparation` double NOT NULL,
  `categorie` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `designation` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `engins_en_marche` int unsigned NOT NULL,
  `engins_en_panne` int unsigned NOT NULL,
  `engins_existants` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `port_equipement_categorie_designation_capacite_c20076ec_uniq` (`categorie`,`designation`,`capacite`),
  CONSTRAINT `port_equipement_chk_1` CHECK ((`engins_en_marche` >= 0)),
  CONSTRAINT `port_equipement_chk_2` CHECK ((`engins_en_panne` >= 0)),
  CONSTRAINT `port_equipement_chk_3` CHECK ((`engins_existants` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=164 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_equipement`
--

LOCK TABLES `port_equipement` WRITE;
/*!40000 ALTER TABLE `port_equipement` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_equipement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_historiqueaction`
--

DROP TABLE IF EXISTS `port_historiqueaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_historiqueaction` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type_action` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_action` datetime(6) NOT NULL,
  `details` json NOT NULL,
  `equipement_id` bigint DEFAULT NULL,
  `navire_id` bigint DEFAULT NULL,
  `quai_id` int DEFAULT NULL,
  `utilisateur_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `port_historiqueactio_equipement_id_dab504e2_fk_port_equi` (`equipement_id`),
  KEY `port_historiqueaction_navire_id_d8a20a25_fk_port_navire_id` (`navire_id`),
  KEY `port_historiqueaction_quai_id_893cf742_fk_port_quai_id` (`quai_id`),
  KEY `port_historiqueaction_utilisateur_id_caf846cf_fk_auth_user_id` (`utilisateur_id`),
  CONSTRAINT `port_historiqueactio_equipement_id_dab504e2_fk_port_equi` FOREIGN KEY (`equipement_id`) REFERENCES `port_equipement` (`id`),
  CONSTRAINT `port_historiqueaction_navire_id_d8a20a25_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`),
  CONSTRAINT `port_historiqueaction_quai_id_893cf742_fk_port_quai_id` FOREIGN KEY (`quai_id`) REFERENCES `port_quai` (`id`),
  CONSTRAINT `port_historiqueaction_utilisateur_id_caf846cf_fk_auth_user_id` FOREIGN KEY (`utilisateur_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_historiqueaction`
--

LOCK TABLES `port_historiqueaction` WRITE;
/*!40000 ALTER TABLE `port_historiqueaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_historiqueaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_historiqueoperation`
--

DROP TABLE IF EXISTS `port_historiqueoperation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_historiqueoperation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `navire_type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `quai_id` int NOT NULL,
  `volume` double NOT NULL,
  `duree_estimee` double NOT NULL,
  `duree_reelle` double NOT NULL,
  `date_operation` datetime(6) NOT NULL,
  `debit_reel` double NOT NULL,
  `equipements_utilises` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `nb_equipes` smallint unsigned NOT NULL,
  `shift` varchar(12) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `poste_id` bigint DEFAULT NULL,
  `attente_shift` double NOT NULL,
  `debit_shift` double NOT NULL,
  `nb_equipements_utilises` smallint unsigned NOT NULL,
  `tonnage_shift` double NOT NULL,
  PRIMARY KEY (`id`),
  KEY `port_histor_navire__55a359_idx` (`navire_type`,`quai_id`),
  KEY `port_historiqueoperation_poste_id_19933935_fk_port_poste_id` (`poste_id`),
  CONSTRAINT `port_historiqueoperation_poste_id_19933935_fk_port_poste_id` FOREIGN KEY (`poste_id`) REFERENCES `port_poste` (`id`),
  CONSTRAINT `port_historiqueoperation_chk_1` CHECK ((`nb_equipes` >= 0)),
  CONSTRAINT `port_historiqueoperation_chk_2` CHECK ((`nb_equipements_utilises` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_historiqueoperation`
--

LOCK TABLES `port_historiqueoperation` WRITE;
/*!40000 ALTER TABLE `port_historiqueoperation` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_historiqueoperation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_meteo`
--

DROP TABLE IF EXISTS `port_meteo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_meteo` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `vent_force` int NOT NULL,
  `hauteur_houle` double NOT NULL,
  `restrictions` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `vent_direction` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `pluie` tinyint(1) NOT NULL,
  `precipitation` double NOT NULL,
  `temperature` double NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `date` (`date`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_meteo`
--

LOCK TABLES `port_meteo` WRITE;
/*!40000 ALTER TABLE `port_meteo` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_meteo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_mouvement`
--

DROP TABLE IF EXISTS `port_mouvement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_mouvement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `heure_prevue` double NOT NULL,
  `raison` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `statut` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `ancien_quai_id` int NOT NULL,
  `navire_id` bigint NOT NULL,
  `nouveau_quai_id` int NOT NULL,
  `utilisateur_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `port_mouvement_ancien_quai_id_10a2c1a7_fk_port_quai_id` (`ancien_quai_id`),
  KEY `port_mouvement_navire_id_a03d4fbe_fk_port_navire_id` (`navire_id`),
  KEY `port_mouvement_nouveau_quai_id_5bdc28b5_fk_port_quai_id` (`nouveau_quai_id`),
  KEY `port_mouvement_utilisateur_id_6a4bbfb2_fk_auth_user_id` (`utilisateur_id`),
  CONSTRAINT `port_mouvement_ancien_quai_id_10a2c1a7_fk_port_quai_id` FOREIGN KEY (`ancien_quai_id`) REFERENCES `port_quai` (`id`),
  CONSTRAINT `port_mouvement_navire_id_a03d4fbe_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`),
  CONSTRAINT `port_mouvement_nouveau_quai_id_5bdc28b5_fk_port_quai_id` FOREIGN KEY (`nouveau_quai_id`) REFERENCES `port_quai` (`id`),
  CONSTRAINT `port_mouvement_utilisateur_id_6a4bbfb2_fk_auth_user_id` FOREIGN KEY (`utilisateur_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_mouvement`
--

LOCK TABLES `port_mouvement` WRITE;
/*!40000 ALTER TABLE `port_mouvement` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_mouvement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_navire`
--

DROP TABLE IF EXISTS `port_navire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_navire` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `longueur` double NOT NULL,
  `tirant` double NOT NULL,
  `arrivee` double NOT NULL,
  `etat` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `marchandise_dangereuse` tinyint(1) NOT NULL,
  `marchandise_frigo` tinyint(1) NOT NULL,
  `strategique` tinyint(1) NOT NULL,
  `a_grue_bord` tinyint(1) NOT NULL,
  `animalier` tinyint(1) NOT NULL,
  `convention` tinyint(1) NOT NULL,
  `essence` tinyint(1) NOT NULL,
  `gazier` tinyint(1) NOT NULL,
  `grue_capacite` double NOT NULL,
  `heure_debut` double DEFAULT NULL,
  `heure_fin` double DEFAULT NULL,
  `huilier` tinyint(1) NOT NULL,
  `ligne_reguliere` tinyint(1) NOT NULL,
  `marchandise_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `marchandise_volume` double NOT NULL,
  `passage` tinyint(1) NOT NULL,
  `perissable` tinyint(1) NOT NULL,
  `priorite_calculee` double NOT NULL,
  `quai_attribue_id` int DEFAULT NULL,
  `sortant` tinyint(1) NOT NULL,
  `pret_pour_quai` tinyint(1) NOT NULL,
  `pret_par_client` tinyint(1) NOT NULL,
  `arrivee_datetime` datetime(6) DEFAULT NULL,
  `debut_datetime` datetime(6) DEFAULT NULL,
  `coeff_variation` double NOT NULL,
  `coord_x` double DEFAULT NULL,
  `coord_y` double DEFAULT NULL,
  `agent` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `entite` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `poste_attribue_id` bigint DEFAULT NULL,
  `fin_datetime` datetime(6) DEFAULT NULL,
  `nb_equipes_requises` smallint unsigned NOT NULL,
  `shift_requis` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `port_navire_quai_attribue_id_49acadd9_fk` (`quai_attribue_id`),
  KEY `port_navire_poste_attribue_id_110fab79_fk_port_poste_id` (`poste_attribue_id`),
  CONSTRAINT `port_navire_poste_attribue_id_110fab79_fk_port_poste_id` FOREIGN KEY (`poste_attribue_id`) REFERENCES `port_poste` (`id`),
  CONSTRAINT `port_navire_quai_attribue_id_49acadd9_fk` FOREIGN KEY (`quai_attribue_id`) REFERENCES `port_quai` (`id`),
  CONSTRAINT `port_navire_chk_1` CHECK ((`nb_equipes_requises` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=307 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_navire`
--

LOCK TABLES `port_navire` WRITE;
/*!40000 ALTER TABLE `port_navire` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_navire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_noteattente`
--

DROP TABLE IF EXISTS `port_noteattente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_noteattente` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `duree_attente` double NOT NULL,
  `commentaire` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `navire_id` bigint NOT NULL,
  `prise_en_compte` tinyint(1) NOT NULL,
  `shift` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `port_noteattente_navire_id_3da0104d_fk_port_navire_id` (`navire_id`),
  CONSTRAINT `port_noteattente_navire_id_3da0104d_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_noteattente`
--

LOCK TABLES `port_noteattente` WRITE;
/*!40000 ALTER TABLE `port_noteattente` DISABLE KEYS */;
INSERT INTO `port_noteattente` VALUES (15,9,'attente camion et manque de documetns','2026-04-22 01:02:20.357779',158,0,'matin');
/*!40000 ALTER TABLE `port_noteattente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_poste`
--

DROP TABLE IF EXISTS `port_poste`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_poste` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `numero` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `longueur` double NOT NULL,
  `profondeur` double NOT NULL,
  `specialite` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `type_navire_autorise` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `disponible` tinyint(1) NOT NULL,
  `occupation_jusqua` double NOT NULL,
  `coord_x` double DEFAULT NULL,
  `coord_y` double DEFAULT NULL,
  `quai_id` int NOT NULL,
  `gestion_manuelle` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `port_poste_quai_id_8d345b4d_fk_port_quai_id` (`quai_id`),
  CONSTRAINT `port_poste_quai_id_8d345b4d_fk_port_quai_id` FOREIGN KEY (`quai_id`) REFERENCES `port_quai` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=128 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_poste`
--

LOCK TABLES `port_poste` WRITE;
/*!40000 ALTER TABLE `port_poste` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_poste` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_profile`
--

DROP TABLE IF EXISTS `port_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_profile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `matricule` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_naissance` date DEFAULT NULL,
  `telephone` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adresse` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `poste` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `photo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `derniere_activite` datetime(6) NOT NULL,
  `notes` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  UNIQUE KEY `matricule` (`matricule`),
  CONSTRAINT `port_profile_user_id_9d1ac0c8_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_profile`
--

LOCK TABLES `port_profile` WRITE;
/*!40000 ALTER TABLE `port_profile` DISABLE KEYS */;
INSERT INTO `port_profile` VALUES (1,'13GYN7',NULL,'','','','','2026-04-13 12:12:29.073891','',1),(2,NULL,NULL,'','','','','2026-04-13 12:24:46.973542','',3),(3,'EPB-2024-001','1980-01-01','+213 55 12 34 56','B├®ja├»a, Alg├®rie','Directeur du port','','2026-04-13 13:06:54.785636','',5),(4,'',NULL,'','','','','2026-04-13 12:27:36.598928','',7),(5,NULL,NULL,'','','','','2026-04-13 12:35:00.185415','',2),(6,NULL,NULL,'','','','','2026-04-13 12:35:00.207536','',4);
/*!40000 ALTER TABLE `port_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_quai`
--

DROP TABLE IF EXISTS `port_quai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_quai` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `longueur` double NOT NULL,
  `profondeur` double NOT NULL,
  `specialite` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `disponible` tinyint(1) NOT NULL,
  `occupation_jusqua` double NOT NULL,
  `performance` double NOT NULL,
  `bloque` tinyint(1) NOT NULL,
  `coord_x` double DEFAULT NULL,
  `coord_y` double DEFAULT NULL,
  `coeff_manoeuvre` double NOT NULL,
  `capacite_max` double NOT NULL,
  `type_navire_autorise` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10005 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_quai`
--

LOCK TABLES `port_quai` WRITE;
/*!40000 ALTER TABLE `port_quai` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_quai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_sessionoptimisation`
--

DROP TABLE IF EXISTS `port_sessionoptimisation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_sessionoptimisation` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `nb_navires` int NOT NULL,
  `nb_quais` int NOT NULL,
  `score_total` double NOT NULL,
  `attente_totale` double NOT NULL,
  `attente_moyenne` double NOT NULL,
  `taux_occupation` double NOT NULL,
  `saison` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fichier_csv` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amplitude_pct` double NOT NULL,
  `buffer_pct` double NOT NULL,
  `incertitude_utilisee` tinyint(1) NOT NULL,
  `scenario` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=295 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_sessionoptimisation`
--

LOCK TABLES `port_sessionoptimisation` WRITE;
/*!40000 ALTER TABLE `port_sessionoptimisation` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_sessionoptimisation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_shift`
--

DROP TABLE IF EXISTS `port_shift`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_shift` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nom` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `heure_debut` time(6) NOT NULL,
  `heure_fin` time(6) NOT NULL,
  `ordre` smallint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom` (`nom`),
  CONSTRAINT `port_shift_chk_1` CHECK ((`ordre` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_shift`
--

LOCK TABLES `port_shift` WRITE;
/*!40000 ALTER TABLE `port_shift` DISABLE KEYS */;
INSERT INTO `port_shift` VALUES (1,'07h-13h','07:00:00.000000','13:00:00.000000',1),(2,'13h-19h','13:00:00.000000','19:00:00.000000',2),(3,'19h-01h','19:00:00.000000','01:00:00.000000',3),(4,'01h-07h','01:00:00.000000','07:00:00.000000',4);
/*!40000 ALTER TABLE `port_shift` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_snapshotnavire`
--

DROP TABLE IF EXISTS `port_snapshotnavire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_snapshotnavire` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` date NOT NULL,
  `etat` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `arrivee` double NOT NULL,
  `heure_debut` double DEFAULT NULL,
  `heure_fin` double DEFAULT NULL,
  `navire_id` bigint NOT NULL,
  `quai_attribue_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `port_snapshotnavire_date_navire_id_671430a7_uniq` (`date`,`navire_id`),
  KEY `port_snapshotnavire_navire_id_97fe1c44_fk_port_navire_id` (`navire_id`),
  KEY `port_snapshotnavire_quai_attribue_id_fd81e6f9_fk` (`quai_attribue_id`),
  CONSTRAINT `port_snapshotnavire_navire_id_97fe1c44_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`),
  CONSTRAINT `port_snapshotnavire_quai_attribue_id_fd81e6f9_fk` FOREIGN KEY (`quai_attribue_id`) REFERENCES `port_quai` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5290 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_snapshotnavire`
--

LOCK TABLES `port_snapshotnavire` WRITE;
/*!40000 ALTER TABLE `port_snapshotnavire` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_snapshotnavire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `port_utilisationequipement`
--

DROP TABLE IF EXISTS `port_utilisationequipement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `port_utilisationequipement` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `equipement_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unite_index` smallint unsigned NOT NULL,
  `debut` datetime(6) NOT NULL,
  `fin` datetime(6) NOT NULL,
  `conflit` tinyint(1) NOT NULL,
  `attente_navire` double NOT NULL,
  `date_creation` datetime(6) NOT NULL,
  `navire_id` bigint NOT NULL,
  `quai_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `port_utilisationequipement_navire_id_a3f36731_fk_port_navire_id` (`navire_id`),
  KEY `port_utilisationequipement_quai_id_78d45099_fk_port_quai_id` (`quai_id`),
  CONSTRAINT `port_utilisationequipement_navire_id_a3f36731_fk_port_navire_id` FOREIGN KEY (`navire_id`) REFERENCES `port_navire` (`id`),
  CONSTRAINT `port_utilisationequipement_quai_id_78d45099_fk_port_quai_id` FOREIGN KEY (`quai_id`) REFERENCES `port_quai` (`id`),
  CONSTRAINT `port_utilisationequipement_chk_1` CHECK ((`unite_index` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=1651 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `port_utilisationequipement`
--

LOCK TABLES `port_utilisationequipement` WRITE;
/*!40000 ALTER TABLE `port_utilisationequipement` DISABLE KEYS */;
/*!40000 ALTER TABLE `port_utilisationequipement` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-22 12:30:04
